# Ignore files in the .vscode directory
.vscode/
# Ignore object files
*.o
# Ignore .geo files
*.geo
# Ignore build directory of TDNS
TimeDependentNS/build/
# Ignore build directory in Validation_pn
Codici/Validation_pn/build
# Ignore build directory in Validation_pn
Codici/Validation_pn_parallel/build